@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}
.header{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:2em ;
}
.currencyrow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1{
  font-size: 50px;
  font-weight: 600;
}
input{
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #333;
}
select{
  padding: 10px 20px;
  margin-left: 5px;
  border: 2px solid #333;
  border-radius: 5px;
}
.equals{
  font-size: 40px;
}
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}
.heading h1{
  font-size: 35px;
}
.bannerchart{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.bannerchart p{
  font-size: 25px;
}
.bannerchart h2{
  font-size: 30px;
}
.clear {
  font-size: 16px;
  margin-top: 24px;
  padding: 4px 10px;
}
@media screen and (min-width:768px) {
  .heading h1{
    font-size: 50px;
  }
  .bannerchart h2{
    font-size: 40px;
  }
  .bannerchart p{
    font-size: 30px;
  }
  .header{
    margin-top: 60px;
  }
  .header h1{
    font-size: 40px;
  }
  
}